##### Predict titanic survivor

In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [229]:
df = pd.read_csv('./titanic.csv')
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [230]:
age_med = int(df['Age'].median())
df['Age'].fillna(age_med,inplace=True)

We don't need all the data

In [231]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],inplace=True,axis='columns')
df['sex_binary'] = df['Sex'].map({'male':0, 'female':1})
df.head(2)

   Survived  Pclass     Sex   Age     Fare  sex_binary
0         0       3    male  22.0   7.2500           0
1         1       1  female  38.0  71.2833           1

In [232]:
df.drop('Sex',inplace=True,axis='columns')
df.head(2)

   Survived  Pclass   Age     Fare  sex_binary
0         0       3  22.0   7.2500           0
1         1       1  38.0  71.2833           1

In [233]:
Y_df = df['Survived']
df.drop('Survived',axis='columns',inplace=True)

In [234]:
X_train, X_test, Y_train, Y_test = train_test_split(df,Y_df,test_size=0.2)

In [241]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [242]:
model = LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [243]:
model.score(X_test,Y_test)

0.8268156424581006

In [246]:
young_fem = pd.DataFrame([{'Pclass':1, 'Age':21, 'Fare':20, 'sex_binary': 1}])
old_fem = pd.DataFrame([{'Pclass':1, 'Age':61, 'Fare':20, 'sex_binary': 1}])
young_male = pd.DataFrame([{'Pclass':1, 'Age':21, 'Fare':20, 'sex_binary': 0}])
old_male = pd.DataFrame([{'Pclass':1, 'Age':61, 'Fare':20, 'sex_binary': 0}])


print(f"For young Female will survive : {model.predict(young_fem)[0]}")
print(f"For old Female will survive : {model.predict(old_fem)[0]} \n")
print(f"For young Male will survive : {model.predict(young_male)[0]}")
print(f"For old Male will survive : {model.predict(old_male)[0]}")

For young Female will survive : 1
For old Female will survive : 1

For young Male will survive : 1
For old Male will survive : 0

In [251]:
print(f"For young Female will survive : {(model.predict_proba(young_fem)[0][1]*100).round(2)}%")
print(f"For old Female will survive : {(model.predict_proba(old_fem)[0][1]*100).round(2)}% \n")
print(f"For young Male will survive : {(model.predict_proba(young_male)[0][1]*100).round(2)}%")
print(f"For old Male will survive : {(model.predict_proba(old_male)[0][1]*100).round(2)}%")

For young Female will survive : 93.16%
For old Female will survive : 77.84%

For young Male will survive : 54.51%
For old Male will survive : 23.6%