### Pandas
Data cleaning is called Munging

In [1]:
import pandas as pd

### Dataframe is a datastructure used to represent tabular data

In [2]:
df = pd.read_csv('./weather.csv')
df

        Day  Temp  Wind  Event
0  1/2/2020    10     5   rain
1  1/3/2020    12     4  sunny
2  1/4/2020    14     3   snow
3  1/5/2020    16     2   snow
4  1/6/2020    18     1   rain
5  1/7/2020    20     0  sunny

You can also use Dictionary column-wise data

In [6]:
dictdata = {
    'Day': ['1/2/2020','1/3/2020','1/4/2020','1/5/2020','1/6/2020','1/7/2020'],
    'Temp' : [10, 12, 14, 16, 18, 20],
    'Wind' : [5, 4, 3, 2, 1, 0],
    'Event' : ["rain", "sunny", "snow", "snow", "rain", "sunny"]
}

df = pd.DataFrame(dictdata)
df

        Day  Temp  Wind  Event
0  1/2/2020    10     5   rain
1  1/3/2020    12     4  sunny
2  1/4/2020    14     3   snow
3  1/5/2020    16     2   snow
4  1/6/2020    18     1   rain
5  1/7/2020    20     0  sunny

Same props like numpy

In [11]:
df.shape
row,col = df.shape
print(f"It has {row}x{col} data")

It has 6x4 data

head and tail like linux

In [14]:
print(df.head(2))
print()
print(df.tail(2))

        Day  Temp  Wind  Event
0  1/2/2020    10     5   rain
1  1/3/2020    12     4  sunny

        Day  Temp  Wind  Event
4  1/6/2020    18     1   rain
5  1/7/2020    20     0  sunny

Indexing and slicing

In [17]:
df[2:5]

        Day  Temp  Wind Event
2  1/4/2020    14     3  snow
3  1/5/2020    16     2  snow
4  1/6/2020    18     1  rain

Rows and colums

In [20]:
df.columns

Index(['Day', 'Temp', 'Wind', 'Event'], dtype='object')

Print Individual column

In [21]:
df.Day
# or df['Day']

0    1/2/2020
1    1/3/2020
2    1/4/2020
3    1/5/2020
4    1/6/2020
5    1/7/2020
Name: Day, dtype: object

Print a few colums

In [22]:
df[['Event','Day']]

   Event       Day
0   rain  1/2/2020
1  sunny  1/3/2020
2   snow  1/4/2020
3   snow  1/5/2020
4   rain  1/6/2020
5  sunny  1/7/2020

In [24]:
df['Temp'].max()
df['Temp'].mean()

15.0

Print Stats about a datafram

In [25]:
df.describe()

            Temp      Wind
count   6.000000  6.000000
mean   15.000000  2.500000
std     3.741657  1.870829
min    10.000000  0.000000
25%    12.500000  1.250000
50%    15.000000  2.500000
75%    17.500000  3.750000
max    20.000000  5.000000

##### SQL like conditioning

In [41]:
df[df.Temp>=14]

          Temp  Wind  Event
Day
1/4/2020    14     3   snow
1/5/2020    16     2   snow
1/6/2020    18     1   rain
1/7/2020    20     0  sunny

##### Setting Index

In [35]:
df.index

Index(['1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020', '1/6/2020', '1/7/2020'], dtype='object', name='Day')

In [36]:
# df.set_index('Day',inplace=True)
print(df)

          Temp  Wind  Event
Day
1/2/2020    10     5   rain
1/3/2020    12     4  sunny
1/4/2020    14     3   snow
1/5/2020    16     2   snow
1/6/2020    18     1   rain
1/7/2020    20     0  sunny

In [37]:
df.loc['1/2/2020']

Temp       10
Wind        5
Event    rain
Name: 1/2/2020, dtype: object

In [43]:
df.reset_index(inplace=True)
print(df)

   index       Day  Temp  Wind  Event
0      0  1/2/2020    10     5   rain
1      1  1/3/2020    12     4  sunny
2      2  1/4/2020    14     3   snow
3      3  1/5/2020    16     2   snow
4      4  1/6/2020    18     1   rain
5      5  1/7/2020    20     0  sunny