##### Read Write using CSV

In [2]:
import pandas as pd

CSV table with extra or unwanted row

In [9]:
ExtraTup = [
    ('random',),
    ('Day','Temp','Wind','Event'),
    ('0','1/2/2020','10','5','rain'),
    ('1','1/3/2020','12','4','sunny'),
    ('2','1/4/2020','14','3','snow'),
    ('3','1/5/2020','16','2','snow'),
    ('4','1/6/2020','18','1','rain'),
    ('5','1/7/2020','20','0','sunny')
]

df = pd.DataFrame(ExtraTup)
print(df) 

df = pd.read_csv('./weather.csv', skiprows=1)
print(df)

# Or use header=1

        0         1     2      3      4
0  random      None  None   None   None
1     Day      Temp  Wind  Event   None
2       0  1/2/2020    10      5   rain
3       1  1/3/2020    12      4  sunny
4       2  1/4/2020    14      3   snow
5       3  1/5/2020    16      2   snow
6       4  1/6/2020    18      1   rain
7       5  1/7/2020    20      0  sunny
   1/2/2020  10  5   rain
0  1/3/2020  12  4  sunny
1  1/4/2020  14  3   snow
2  1/5/2020  16  2   snow
3  1/6/2020  18  1   rain
4  1/7/2020  20  0  sunny

You can provide column name

In [12]:
df = pd.read_csv('./weather.csv',skiprows=1,header=None, names=['date ig', 'num ig', 'other num', 'climate'])
df

    date ig  num ig  other num climate
0  1/2/2020      10          5    rain
1  1/3/2020      12          4   sunny
2  1/4/2020      14          3    snow
3  1/5/2020      16          2    snow
4  1/6/2020      18          1    rain
5  1/7/2020      20          0   sunny

##### If you have millions of lines written in you csv you can limit it with nrows

In [13]:
pf = pd.read_csv('./weather.csv', nrows=3)
pf

        Day  Temp  Wind  Event
0  1/2/2020    10     5   rain
1  1/3/2020    12     4  sunny
2  1/4/2020    14     3   snow