##### Read Write using CSV

In [2]:
import pandas as pd

CSV table with extra or unwanted row

In [9]:
ExtraTup = [
    ('random',),
    ('Day','Temp','Wind','Event'),
    ('0','1/2/2020','10','5','rain'),
    ('1','1/3/2020','12','4','sunny'),
    ('2','1/4/2020','14','3','snow'),
    ('3','1/5/2020','16','2','snow'),
    ('4','1/6/2020','18','1','rain'),
    ('5','1/7/2020','20','0','sunny')
]

df = pd.DataFrame(ExtraTup)
print(df) 

df = pd.read_csv('./weather.csv', skiprows=1)
print(df)

# Or use header=1

        0         1     2      3      4
0  random      None  None   None   None
1     Day      Temp  Wind  Event   None
2       0  1/2/2020    10      5   rain
3       1  1/3/2020    12      4  sunny
4       2  1/4/2020    14      3   snow
5       3  1/5/2020    16      2   snow
6       4  1/6/2020    18      1   rain
7       5  1/7/2020    20      0  sunny
   1/2/2020  10  5   rain
0  1/3/2020  12  4  sunny
1  1/4/2020  14  3   snow
2  1/5/2020  16  2   snow
3  1/6/2020  18  1   rain
4  1/7/2020  20  0  sunny

You can provide column name

In [12]:
df = pd.read_csv('./weather.csv',skiprows=1,header=None, names=['date ig', 'num ig', 'other num', 'climate'])
df

    date ig  num ig  other num climate
0  1/2/2020      10          5    rain
1  1/3/2020      12          4   sunny
2  1/4/2020      14          3    snow
3  1/5/2020      16          2    snow
4  1/6/2020      18          1    rain
5  1/7/2020      20          0   sunny

##### If you have millions of lines written in you csv you can limit it with nrows

In [13]:
pf = pd.read_csv('./weather.csv', nrows=3)
pf

        Day  Temp  Wind  Event
0  1/2/2020    10     5   rain
1  1/3/2020    12     4  sunny
2  1/4/2020    14     3   snow

Remove unnecessary values and convert the to nan

In [6]:
df = pd.read_csv('./NotComplete.csv')
print(df)
print("\n\nClean Data\n")

df = pd.read_csv('./NotComplete.csv', na_values=['n.a', '', 'not available'])
print(df)

  tikers            eps  revenue price     people
0  GOOGL          28.89       -2   897      LARRY
1    WMT           8.23       89   NaN      GARRY
2   MSFT             -4       98   n.a       BILL
3    RIL  not available       59    -2   "AMBANI"


Clean Data

  tikers    eps  revenue  price     people
0  GOOGL  28.89       -2  897.0      LARRY
1    WMT   8.23       89    NaN      GARRY
2   MSFT  -4.00       98    NaN       BILL
3    RIL    NaN       59   -2.0   "AMBANI"

#### But there is a problem
revenue cannot be negative, but if we consider -2 as na value then price will also be converted which we don't want

So we can provide a dictionary

In [7]:
df = pd.read_csv('./NotComplete.csv', na_values={
    'revenue':[ -2 , 'not available'],
    'price': ['n.a'],
    'eps': ['not avilable']
})
df

  tikers            eps  revenue  price     people
0  GOOGL          28.89      NaN  897.0      LARRY
1    WMT           8.23     89.0    NaN      GARRY
2   MSFT             -4     98.0    NaN       BILL
3    RIL  not available     59.0   -2.0   "AMBANI"

##### Write to CSV

In [14]:
df.to_csv('new.csv', columns=['revenue','eps'], index=False )

print(pd.read_csv('./new.csv'))

   revenue            eps
0      NaN          28.89
1     89.0           8.23
2     98.0             -4
3     59.0  not available

### Converters for conditionals

In [19]:
df = pd.read_csv('./new.csv')
print(df)

print("Revenus must not be Nan it should atleast be 0 and eps 1\n")

def convert_rev(cell):
    if cell=='' :
        return '0'
    return cell
def convert_eps(cell):
    if cell=='not available' :
        return '1'
    return cell

df = pd.read_csv('./new.csv' , converters= {
    'revenue' : convert_rev,
    'eps' : convert_eps
})
print(df)

   revenue            eps
0      NaN          28.89
1     89.0           8.23
2     98.0             -4
3     59.0  not available
Revenus must not be Nan it should atleast be 0 and eps 1

  revenue    eps
0       0  28.89
1    89.0   8.23
2    98.0     -4
3    59.0      1